[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "finreportr"]
	path = finreportr
	url = https://github.com/sewardlee337/finreportr
